/* ----- CSS RESET ----- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----- CSS for website starts here ----- */


/* ----- General ----- */

body {
    background-image: url("../images/background.jpg");
    font-family: verdana;
}

/* ----- Header ----- */

header {
	background-image: url("../images/header.jpg");
	height: 200px;
	width: 1200px;
	margin: auto;
}

.header_left {
	float: left;
	width:50%;
	background: none;
}

.header_right {
	float: right;
	width:50%;
	background: none;
}

.search {
	float: right;
	color: white;
	padding-top: 46px;
}

.para_login {
	float: right;
	color: white;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 30px;
	font-family: sans-serif;
	font-size: 14px;
}

.header_right_top {
	float: right;
	width: 50%;
	background: none;
}

.header_right_bottom {
	clear: both;
	width: 45%;
	background: #afcaea;
	text-align: center;
	margin: auto;
	margin-top: 105px;
	margin-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #13161c;
}

.para_problem {
	font-size: 14px;
}

.para_telephone {
	font-size: 22px;
	font-weight: 900;
    line-height: 32px;
    clear: both;
}

a.link_telephone:link, active, visited  {
	text-decoration: none;
}

a.link_telephone, .header_right_bottom:hover {
	background: #d1deee;
}

/* ----- Navbar ----- */
nav {
    width: 1200px;
    margin: auto;
    background-color: yellow;
    clear: both;
    margin-top: 5px;
    background-color: teal;
}

.nav-min-height {
    min-height: 350px;
}

nav span {
    background-color: #244169;
    width: 200px;
    height: 11px;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 20px; 
    float: left;
    font-size: 21px;
    font-weight: 500;
    color: #AECAEA;
}

.nav-img {
    height: 280px;
    margin-top: 10px;
}

.nav-about-img {
    background-image: url("../images/navigation-about-full.jpg");
}

nav span:hover {
    background-color: #2D5183;
}

nav span:hover > .nav-about-img {
    background-image: url("../images/navigation-about-on-full.jpg");
}

.nav-about-img:hover {
    background-image: url("../images/navigation-about-on-full.jpg");
}

.nav-services-img {
    background-image: url("../images/navigation-services-full.jpg");
}

.nav-services-img:hover {
    background-image: url("../images/navigation-services-on-full.jpg");
}

nav span:hover > .nav-services-img {
    background-image: url("../images/navigation-services-on-full.jpg");
}

.nav-pests-img {
    background-image: url("../images/navigation-pests-full.jpg");
}

.nav-pests-img:hover {
    background-image: url("../images/navigation-pests-on-full.jpg");
}

nav span:hover > .nav-pests-img {
    background-image: url("../images/navigation-pests-on-full.jpg");
}

.nav-testimonials-img {
    background-image: url("../images/navigation-testimonials-full.jpg");
}

.nav-testimonials-img:hover {
    background-image: url("../images/navigation-testimonials-on-full.jpg");
}

nav span:hover > .nav-testimonials-img {
    background-image: url("../images/navigation-testimonials-on-full.jpg");
}

.nav-team-img {
    background-image: url("../images/navigation-team-full.jpg");
}

.nav-team-img:hover {
    background-image: url("../images/navigation-team-on-full.jpg");
}

nav span:hover > .nav-team-img {
    background-image: url("../images/navigation-team-on-full.jpg");
}

.nav-contact-img {
    background-image: url("../images/navigation-contact-full.jpg");
}

.nav-contact-img:hover {
    background-image: url("../images/navigation-contact-on-full.jpg");
}

nav span:hover > .nav-contact-img {
    background-image: url("../images/navigation-contact-on-full.jpg");
}

/* ----- Div (Ad) ----- */
.ad {
	clear: both;
	width: 1200px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ----- Div (Contact us) ----- */
.link_contactus {
	text-decoration: none;
}

.para_contactus {
	width: 1200px;
	height: 80px;
	margin: auto;
	background-color: #afcaea;
	padding-top: 45px;
	font-size: 20px;
	text-align: center;
    color: #13161c;
    margin-bottom: 5px;
}
 em {
 	font-weight: 900;
 	font-size: 28px;
 	text-decoration: underline;
 }

a.link_contactus, .para_contactus:hover {
	background-color: #d1deee;
}

/* ----- Div (Logos) ----- */
.logos {
	clear: both;
	width: 1200px;
	height: 200px;
	margin: auto;
	background-image: url("../images/logos.jpg");
}

.para_logos {
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	font-weight: 100;
	padding-top: 30px;
	color: #bbbbbb;
}